.bar {
    padding: 12px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    height: 40px;
    background-color: black;
    margin-bottom: 16px;
}
.bar a{
    padding-right: 1em;
    color: white;
    text-decoration: none;
}

.bar a:hover {
    color: #A649B6;
}